# Ignore downloaded test data

__pycache__/
/data/
/.idea/copilot.data.migration.agent.xml
/config/raja_status.yaml
/.pytest_cache/
/scratch_test_cases/
/reports/validation/*
!/reports/validation/.gitkeep
