# Ignore downloaded test data

__pycache__/
/data/
/.idea/copilot.data.migration.agent.xml
/config/raja_status.yaml
/.pytest_cache/
/scratch_test_cases/
/reports/validation/*
!/reports/validation/.gitkeep
/pyblinker/
/ear_eog_experiment/
/writing/main.bbl
/writing/main.aux
/writing/main.bcf
/writing/main.blg
/out/main.log
/writing/main.out
/xx_tes.py
