# ─────────────────────────────────────────────
# config.yaml  •  Master settings for pipeline
# ─────────────────────────────────────────────

# -------------------------------------------------------------------
# 1. Paths & general run-time options
#
# All data and outputs will be stored under a single root folder
# defined by `root_dir`. This allows you to relocate the project
# easily by changing just one path (e.g., "D:/test_me" or "/mnt/project_x").
#
# All other paths are **relative** to `root_dir`, and should NOT be absolute.
# The pipeline code will automatically resolve them using:
#     full_path = Path(root_dir) / relative_path
#

# -------------------------------------------------------------------

paths:
  DEFAULT_DATASET_FILE: "config/murat_2018_dataset.txt"
  ACTUAL_DATASET_STORE : "D:\dataset\murat_2018"
  DEBUG_DATASET_STORE : "data/murat_2018"
  DEFAULT_EEGLAB_ROOT: "D:\code development\matlab_plugin\eeglab2025.1.0"
DEFAULT_SAMPLING_RATE : 200.0
DEFAULT_CHANNELS : "CH1,CH2"